* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}
.resume {
    overflow: hidden;
    height: 1125px;
    width: 795px;
    padding: 40px;
    border: 2px dashed black;
}
h2 {
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 5px 0px;
}
h3 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
h4 {
    font-size: 12px;
    font-weight: 100;
}
p {
    font-size: 11px;
}
p > a {
    color: black;
    text-decoration: none;
}
.education > div {
    margin-bottom: 5px;
}